<section class="posts">

    <article>

        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "post") }}
        {{ range $paginator.Pages }}

            <a href="{{ .RelPermalink }}"> {{ partial "image.html" . }}</a>

            <a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a>

            {{ partial "date.html" . }}

            <section>
                <p>{{ .Summary }}</p>
            </section>

            <p><a href="{{ .RelPermalink }}">Read More...</a></p>

            <hr />

            <br />

        {{ end }}

    </article>

    {{ partial "pagination.html" . }}

</section>