/* Vars */

:root {
	/* colors */
	--hr-color: #e5e5e5;
	--link-hover-color: #CBF8DF;
	--link-hover-color-inverted: cbf8fc;
	--link-color-inverted: #e39777;
	--text-normal-color: #555;
	--text-dark-color: #222;
	--text-light-color: #ccc;
	--text-nav-color: #111;
	--text-footer-color: #888;
	--background-color: #e4e4e4;
	--background-color-inverted: #444;
	--nav-background-color: #f5f5f5;
	--blockquote-color: #A2DAC3;
	--blockquote-color-inverted: #807979;
	--duration-background-color: #bbb;
	--duration-color: #fff;

	/* sizes */
	--font-size-title: 36px;
	--fonts-size-subtitle: 21px;
	--font-size-header1: 34px;
	--font-size-header2: 30px;
	--font-size-header3: 26px;
	--font-size-text: 16px;
	--font-size-text-small: 14px;

	/* spacing */
	--padding-xs: 5px;
	--padding-sm: 15px;
	--padding-md: 20px;
	--padding-lg: 40px;
	--padding-xl: 60px;

	--margin-xs: 5px;
	--margin-sm: 15px;
	--margin-md: 20px;
	--margin-lg: 40px;
	--margin-xl: 60px;
}

/* Basic */

img {
	max-width: 100%;
	height: auto;
}
figure  {
	margin-left: 0;
	margin-right: 0;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	color: var(--text-dark-color);
}
h1 {
	font-size: var(--font-size-header1);
}
h2 {
	font-size: var(--font-size-header2);
}
h3 {
	font-size: var(--font-size-header3);
}
p, li, td, th {
	font-family: 'Merriweather', serif;
	color: var(--text-normal-color);
	font-size: 16px;
	line-height: 1.7;
}
p.date {
	color: var(--text-light-color);
	line-height: 1;
}
p.duration {
	font-family: 'Lato', sans-serif;
	color: var(--duration-color);
	font-weight: bold;
	font-size: var(--font-size-text);
}

a {
	color: var(--text-normal-color);
	outline: none;
	text-decoration: none;
}
nav a {
	font-family: 'Lato', sans-serif;
	font-size: var(--font-size-text-small);
	color: var(--text-nav-color);
}
nav a.title {
	font-size: var(--font-size-title);
}
footer a {
	font-family: 'Lato', sans-serif;
	color: var(--text-footer-color);
}
footer a:hover,
footer a:focus {
	color: var(--text-dark-color);
}
section.archive a {
	font-family: 'Lato', sans-serif;
	color: var(--text-dark-color);
	font-size: var(--fonts-size-subtitle);
	font-weight: bold;
	text-decoration: none;
}
pre {
	line-height: 1.8;
	overflow-x: auto;
}
p code, li code {
	padding: .2em .4em;
	background-color: var(--background-color);
}
blockquote {
	font-size: 1.4em;
	line-height: 1.6;
}
blockquote::before {
	font-family: Arial;
	color:var(--blockquote-color);
	font-size: 4em;
}
label, input, button {
	font-family: 'Merriweather', serif;
	color: var(--text-normal-color);
	font-size: var(--font-size-text);
	line-height: 1.7;
}
table { 
    border-collapse: collapse; 
}
table tr {
	border-bottom: 1pt solid var(--text-footer-color);
}

@media (min-width: 600px) {

	h1 {
		font-size: calc(var(--font-size-header1) + 8px);
	}
	h2 {
		font-size: calc(var(--font-size-header2) + 8px);
	}
	h3 {
		font-size: calc(var(--font-size-header3) + 8px);
	}
	p, li, td, th {
		font-size: calc(var(--font-size-text) + 3px);
		line-height: 1.8;
	}
	a {
		font-size: calc(var(--font-size-text) + 3px);
	}
	nav a {
		font-size: calc(var(--font-size-text) + 3px);
	}
}

/* Navigation */

body > header {
	padding: var(--padding-md) 0;
	background: var(--nav-background-color);
	border-bottom: 1px solid var(--hr-color);
	height: 40px;
}
nav {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 var(--padding-sm);
	text-align: right;
}
nav .logo {
	float: left;
	padding-right: var(--padding-sm);
	transition: transform 150ms ease-out;
}
nav .logo:hover {
	transform: scale(1.1);
}
nav .logo img {
	display: block;
	max-height: 40px;
	width: auto;
}
nav a.title {
	float: left;
}
nav .search img {
	width: 40px;
	filteR: invert(1)
}
nav .overlay-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
	transition: 0.4s;
	display: grid;
}
nav .overlay-menu-content {
    position: relative;
    width: 100%;
	text-align: center;
	display: grid;
	align-self: center;
}
nav .overlay-menu a {
    text-decoration: none;
	font-size: var(--font-size-title);
	padding: var(--padding-xs);
    line-height: 1.3;
    color: #fff;
    display: block;
    transition: 0.3s;
}
nav .overlay-menu a:hover,
nav .overlay a:focus {
    color: var(--link-hover-color);
}
nav .overlay-menu .close-nav {
    cursor: pointer;
    position: absolute;
    right: 33px;
    font-size: 60px;
}
nav #open-nav {
	cursor: pointer;
	position: absolute;
	top: 15px;
    z-index: 98;
    color: var(--text-dark-color);
    right: 30px;
    font-size: 48px;
}

/* Pagination */

section .pagination {
	text-align: center;
}
section .pagination p {
	display: inline;
}
section .pagination .arrow {
	font-size: 30px;
}
section .pagination .right {
	float: right;
}
section .pagination .left {
	float: left;
}

@media (min-width: 600px) {

	section .pagination .arrow {
		font-size: 38px;
	}
}

/* Main */

main {
	max-width: 700px;
	margin: var(--margin-xl) auto var(--margin-xl);
	padding: 0 var(--padding-sm);
}
main hr {
	width: 150px;
	margin: 50px auto;
	height: 1px;
	overflow: hidden;
	border: none;
	background: var(--hr-color);
}
main .highlight {
	border-radius: 3px;
	position: relative;
	margin: var(--margin-lg) 0;
}
main .highlight pre {
	padding: 10px;
	overflow-x: scroll;
}

@media (min-width: 600px) {

	main {
		margin: 100px auto;
	}
	main .highlight {    
		margin: var(--margin-lg) -20px;
	}
}

/* Article */

article img.featured {
	display: block;
	margin-bottom: var(--margin-md);
	margin-left: auto;
	margin-right: auto;
}
article .duration {
	margin-top: var(--margin-sm);
	float: right;
	padding: 1px var(--padding-xs);
	border-radius: 3px;
	background: var(--duration-background-color);
}
article a {
	border-bottom: 3px solid var(--link-hover-color);
	box-shadow: inset 0 -4px 0 var(--link-hover-color);
	background: transparent;
	transition: background 150ms ease;
}
article p.date {
	margin-top: 0;
}
article a:hover,
article a:focus {
	background: var(--link-hover-color);
}
article blockquote {
	width: 60%;
	margin: var(--margin-lg) auto;
	padding: 1.2em 30px 1.2em var(--padding-lg);
	border-left: 8px solid var(--blockquote-color) ;
	position: relative;
	background: var(--nav-background-color);
}
article blockquote::before {
	content: "\201C";
	position: absolute;
	left: 10px;
	top: -10px;
}

/* Archive */

section.archive {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
section.archive .title {
	margin-top: var(--margin-xl);
}
section.archive article {
	margin: var(--margin-xs) 0 var(--margin-sm);
	padding: 0;
}
section.archive .date {
	margin-top: var(--margin-xs);
	display: block;
}
section.archive .link {
	display: inline-block;
	padding: var(--padding-xs) 0;
	border-bottom: 1px solid var(--text-light-color);
	box-shadow: none;
}
section.archive .link:hover {
	border-bottom-color: var(--text-dark-color);
	background: none;
}

@media (min-width: 600px) {

	section.archive {
		text-align: left;
	}
}

/* Search */
section.search .title {
	margin-bottom: var(--margin-sm);
}

/* Footer */

footer {
	padding: var(--pading-md) 0;
	text-align: center;
}
footer.links {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer .links li {
	margin: 0;
	padding: 0;
	display: inline-block;
}
footer .links a {
	text-decoration: none;
	transition: color 150ms ease;
	margin: 0 var(--margin-sm);
}
footer .links li::before {
	content: '/';
	position: relative;
	left: -2px;
}
footer .links li:first-child::before {
	display: none;
}
footer .links-kudos img {
	position: relative;
	top: 5px;
	margin-left: 2px;
}

@media (min-width: 600px) {

	footer .links {
		font-size: inherit;
	}
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
	body,
	body > header {
		background-color: var(--background-color-inverted);
		color: var(--background-color);
	}

	p, li, nav a, label, input,
	h1, h2, h3, h4, h5, h6, td, th {
		color: var(--background-color);
	}
	a {
		color: var(--link-color-inverted);
	}
	img {
		filter: grayscale(30%);
	}
	nav .logo img,
	nav .search img {
		filter: invert(1)
	}
	p code, li code {
		color: var(--background-color-inverted);
	}

	/* Article */

	article blockquote {
		background-color: var(--blockquote-color-inverted);
	}

	/* Archive */

	section.archive a {
		color: var(--link-color-inverted);
	}
	section.archive .link:hover {
		background: var(--link-hover-color-inverted);
		border-bottom-color: var(--link-hover-color-inverted);
	}
}
  